.phonebook {
  padding: 30px;
  width: 600px;
  margin: 0 auto;
  /* background-color: #e8ecee; */
  background-color: transparent;
  /* border-radius: 6px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12); */
}
