.user_menu {
  display: flex;
  justify-content: align-items;
}

.text {
  color: #ffffff;
  margin: 0;
  margin-right: 20px;
  margin-left: 10px;

  /* padding-top: 12px; */
  /* font-weight: bold; */
}
.logout_btn {
  color: #007bff;
}
.user_profile {
  display: flex;
  align-items: center;
}
